.gradle/
build/
**/build/

local.properties

.idea/
*.iml
*.ipr
*.iws

captures/
.externalNativeBuild/
.cxx/
generated/
out/

*.apk
*.aab
*.deb
*.dmg
*.msi
*.pkg
*.exe
*.ipa

.DS_Store
Thumbs.db
desktop.ini
